<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>DocStudio - Documents</title>
</head>
<body>
    <header>
        <div class="logo">StuDoc</div>
       
    </header>
    <div class="navigation">
        <a href="{{ url_for('index') }}">All Files</a>
        <a href="{{ url_for('show_docs') }}">Documents</a>
        <a href="{{ url_for('show_audios') }}">Audios</a>
    </div>

    <h2>Uploaded Documents</h2>
    <ul>
        {% for info in doc_info %}
            <li>
                <div class="add">
                    <img src="{{ url_for('static', filename='doc.png') }}" alt="Document" class="avatar">
                    {{ info['name'][:15] }}
                </div>
                <span class="date">{{ info['date_added'].strftime('%Y-%m-%d') }}</span>
                <div class="feature">
                    <a href="{{ url_for('open_file', filename=info['name']) }}" target="_blank">
                        <lord-icon src="https://cdn.lordicon.com/becebamh.json"
                            trigger="hover"
                            colors="primary:#ededed"
                            style="width:30px;height:30px">
                        </lord-icon>
                    </a>
                    <a href="{{ url_for('delete_file', filename=info['name']) }}">
                        <lord-icon src="https://cdn.lordicon.com/skkahier.json"
                            trigger="click"
                            colors="primary:#ededed"
                            style="width:30px;height:30px">
                        </lord-icon>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
</body>
</html>
