<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-OKtBwHgOIofCWFT5h9ce9zfeV9nBG53GyyzO2DSBpW4jQIwe7Pu4gGg4+MR3pwq1KWX0K7jZ8QjopwKz9p+H+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>DocStudio</title>
</head>
<body>
    <header>
        <div class="logo">StuDoc</div>

        <div class="right">
            <form action="/upload" method="post" enctype="multipart/form-data" class="form">
                <input type="file" name="file" accept=".pdf, .doc, .docx, .mp3, .wav" required>
                <button type="submit" class="upload-button">Upload</button>
            </form>
        </div>
       
    </header>
    <div class="navigation">
        <a href="{{ url_for('show_docs') }}">Documents</a>
        <a href="{{ url_for('show_audios') }}">Audios</a>
    </div>
    <hr>
    
 
    

   <input type="text" placeholder="Search">
<h2>All Files</h2>

<div class="files">
    <ul>
        {% for info in file_info %}
            <li>
                <div class="add">
                    {% if info['name'].endswith(('.pdf', '.doc', '.docx')) %}
                    <img src="{{ url_for('static', filename='doc.png') }}" alt="Document" class="avatar">
                {% elif info['name'].endswith(('.mp3', '.wav')) %}
                    <img src="{{ url_for('static', filename='audio.png') }}" alt="Audio" class="avatar">
                {% endif %}
                {{ info['name'] }}
                </div>
              
                <span class="date">{{ info['date_added'].strftime('%Y-%m-%d') }}</span>
    
                <div class="feature">
                    <a href="{{ url_for('open_file', filename=info['name']) }}" target="_blank"><lord-icon src="https://cdn.lordicon.com/becebamh.json"
                        trigger="hover"
                        colors="primary:#ededed"
                        style="width:30px;height:30px">
                    </lord-icon></a>
                    <a href="{{ url_for('delete_file', filename=info['name']) }}"><lord-icon
                        src="https://cdn.lordicon.com/skkahier.json"
                        trigger="click"
                        colors="primary:#ededed"
                        style="width:30px;height:30px">
                    </lord-icon></a>
                </div>
    
    
              
            </li>
        {% endfor %}

    </ul>
</div>

    <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
</body>
</html>

